<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title | default('Report') }}</title>
    <meta name="description" content="Report example">
  </head>

  <body>
    <!-- Cover page -->
    <article id="cover">
      <h1>{{ title | default('Report example') }}</h1>
      <address>
        {{ company_name | default('WeasyPrint') }}
        {{ company_address | default('26 rue Emile Decorps\n69100 Villeurbanne France') }}
      </address>
      <address>
        {{ contact_email | default('contact@courtbouillon.org') }}
        {{ contact_url | default('https://courtbouillon.org') }}
      </address>
    </article>

    <!-- Table of contents -->
    <article id="contents">
      <h2>Table of contents</h2>
      <h3>Part one</h3>
      <ul>
        <li><a href="#columns-title"></a></li>
        <li><a href="#skills-title"></a></li>
      </ul>

      <h3>Part two</h3>
      <ul>
        <li><a href="#offers-title"></a></li>
        <li><a href="#chapter-title"></a></li>
        <li><a href="#typography-title"></a></li>
      </ul>
    </article>

    <!-- Sub-reports -->
    {{ subreports.columns }}
    {{ subreports.skills }}
    {{ subreports.offers }}
    {{ subreports.typography }}
  </body>
</html>
